<div class="spotify-artist">
  <h2>{{ artist.name }}</h2>
  <img src="{{ artist.images.0.url }}" alt="{{ artist.name }}" width="200">
  <p><strong>Genres:</strong> {{ artist.genres|join(', ') }}</p>
  <p><strong>Followers:</strong> {{ artist.followers.total|number_format }}</p>
  <a href="{{ artist.external_urls.spotify }}" target="_blank">View on Spotify</a>
</div>
